{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Novo Produto</h2>
    <form method="POST">
        <div class="form-group mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="id_market">ID Market</label>
            <input type="text" class="form-control" id="id_market" name="id_market" placeholder="ID Market" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="price">Preço</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="Preço" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="stock">Quantia</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="Quantidade em estoque" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição do produto" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Criar Produto</button>
        <a href="{{ url_for('products.listar_produtos') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}